<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lỗi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles/error.css">
</head>
<header>
    {% include "src/navbar.html" %}
</header>
<body>
    <div class="container">
        <h1>Đã xảy ra lỗi</h1>
        <p>{{ error_message }}</p>
        <a href="{{ url_for('index') }}">Quay lại trang chủ</a>
    </div>
</body>
<footer>
    {%include"src/footer.html"%}
</footer>
</html>
